* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #525252;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  padding: 40px 20px;
  box-sizing: border-box;
  width: 640px;
  height: 880px;
  background: white;
}
@media only screen and (max-width: 640px) {
  .container {
    width: 100%;
  }
}

.header {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 20px;
}

.movie-list {
  height: 760px;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  background: #eeeeee;
}
.movie-list::-webkit-scrollbar {
  display: none;
}

.loading-interaction {
    font-size: 20px;
    font-weight: 500;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.movie {
  padding: 8px;
  box-sizing: border-box;
  height: 84px;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  margin-bottom: 4px;
  box-shadow: 1px;
}

.movie .movie-left {
  width: 68px;
}
.movie .movie-left img {
  width: 100%;
  height: 100%;
  background-color: red;
}

.movie .movie-center {
  margin-left: 10px;
}
.movie .movie-center .movie-title {
  font-size: 18px;
  font-weight: 600;
}
.movie .movie-center .movie-description {
  font-size: 13px;
  font-weight: 500;
}

.movie .movie-right {
  margin-left: auto;
  margin-right: 4px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-item: center;
  flex-direction: center;
}
.movie .movie-right a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.movie .movie-right a img {
  width: 36px;
}
